{% extends 'base.html.twig' %}

{% block content %}

    <div class="preloader bg-dark flex-column justify-content-center align-items-center">
        <div class="position-relative">
            <img src="/bundles/spaces/assets/img/brand/light-without-letter.svg" alt="Logo loader">
            <img src="/bundles/spaces/assets/img/brand/letter.svg" class="rotate-letter" alt="Letter loader">
        </div>
    </div>

    <!-- Hero -->
    <section class="section-header pb-9 pb-lg-7 bg-primary text-white">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <h1 class="h1 lead px-md-6 mb-5">Checking</h1>
                    <p class="lead mb-4">Makkelijk en veilig</p>
                    <a onclick="startQrScan()" class="btn btn-secondary animate-up-2 mb-4">{{ 'scan with camera'|trans|capitalize }}</a>
                    <div class="d-flex justify-content-center mb-2">
                            <div class="form-group">
                            <input type="text" class="form-control" placeholder="{{ 'fill in code'|trans|capitalize }}">
                            </div>
                        &nbsp;&nbsp;&nbsp;
                            <button type="submit" class="btn mb-2 mr-2 btn-gray">{{ 'scan manually'|trans|capitalize }}</button>
                    </div>
                    <div class="d-flex justify-content-center flex-column mb-2">
                        <a href="https://www.conduction.nl" target="_blank">
                            <img src="/images/conduction2.png" class="d-block mx-auto mb-3" alt="Conduction Logo" style="width: 100px;">
                            <span class="text-muted font-small">{{'a Conduction production'|trans|capitalize}}</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <figure class="position-absolute bottom-0 left-0 w-100 d-none d-md-block mb-n2">
            <svg class="fill-white" version="1.1" xmlns="http://www.w3.org/2000/svg"
                 xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1920 43.4"
                 style="enable-background:new 0 0 1920 43.4;" xml:space="preserve"><path
                    d="M0,23.3c0,0,405.1-43.5,697.6,0c316.5,1.5,108.9-2.6,480.4-14.1c0,0,139-12.2,458.7,14.3 c0,0,67.8,19.2,283.3-22.7v35.1H0V23.3z"></path></svg>
        </figure>

    </section>

    <section class="section section-sm pt-0">
        <div class="container">

        </div><!-- /.container -->
    </section>

    <section class="section section-sm pt-0">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-6 col-md-3 text-center mb-4">
                    <div
                        class="icon icon-shape icon-lg bg-white shadow-lg border-light rounded-circle icon-secondary mb-4">
                        <span class="fas fa-pager"></span>
                    </div>
                    <h3 class="font-weight-bolder">37</h3>
                    <p class="text-gray">Hand-crafted pages</p>
                </div>
                <div class="col-6 col-md-3 text-center mb-4">
                    <div
                        class="icon icon-shape icon-lg bg-white shadow-lg border-light rounded-circle icon-secondary mb-4">
                        <span class="fas fa-puzzle-piece"></span>
                    </div>
                    <h3 class="font-weight-bolder">700+</h3>
                    <p class="text-gray">Premium Components</p>
                </div>
                <div class="col-6 col-md-3 text-center">
                    <div
                        class="icon icon-shape icon-lg bg-white shadow-lg border-light rounded-circle icon-secondary mb-4">
                        <span class="fab fa-sass"></span>
                    </div>
                    <h3 class="font-weight-bolder">Workflow</h3>
                    <p class="text-gray">Sass & Gulp + BrowserSync</p>
                </div>
                <div class="col-6 col-md-3 text-center">
                    <div
                        class="icon icon-shape icon-lg bg-white shadow-lg border-light rounded-circle icon-secondary mb-4">
                        <span class="fas fa-book"></span>
                    </div>
                    <h3 class="font-weight-bolder">Full</h3>
                    <p class="text-gray">Documentation</p>
                </div>
            </div>
        </div>
    </section>
    <section class="section section-lg bg-soft">
        <div class="container">
            <div class="row justify-content-between align-items-center mb-5 mb-lg-7">
                <div class="col-lg-5 order-lg-2 mb-5 mb-lg-0">
                    <h2 class="h1">Mapbox</h2>
                    <p class="mb-4 lead">Markers and cards integration with Leaflet.js</p>
                    <p class="mb-4">We know how important it is to also offer a map and marker view for your listing
                        items, so we created a simple to use and beautiful Mapbox integration.</p>
                    <a href="./html/all-spaces-map.html" class="btn btn-secondary animate-up-2 mr-3"><span
                            class="fas fa-map-marked-alt mr-2"></span> Demo</a>
                    <a href="https://themesberg.com/docs/spaces/plugins/mapbox/" target="_blank"
                       class="btn btn-outline-primary animate-up-2"><span class="fas fa-book mr-2"></span> Mapbox Guide</a>
                </div>
                <div class="col-lg-6 order-lg-1">
                    <img src="/bundles/spaces/assets/img/presentation-mockup-map.png" alt="Front pages overview">
                </div>
            </div>
            <div class="row justify-content-between align-items-center">
                <div class="col-lg-5">
                    <h2 class="h1">Dashboard</h2>
                    <p class="mb-4 lead">9 advanced user dashboard pages</p>
                    <p class="mb-4">Spaces provides your business with all of the necessary user dashboard pages: such
                        as settings, items management, messaging, billing details and so on.</p>
                    <div class="d-flex justify-content-between mt-lg-4 mb-5">
                        <div>
                            <a href="./html/dashboard/account.html" class="btn btn-tertiary animate-up-2"><span
                                    class="fas fa-chart-line mr-2"></span> Dashboard demo</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <img src="/bundles/spaces/assets/img/presentation-mockup-dashboard.png" alt="Dashboard Preview">
                </div>
            </div>
        </div>
    </section>
    <section class="section section-lg bg-primary text-white">
        <div class="container">
            <div class="row justify-content-center mb-5 mb-lg-6">
                <div class="col-12 text-center">
                    <h2 class="h1 px-lg-5">Awesome Features</h2>
                    <p class="lead px-lg-8">You get all Bootstrap components fully customized. Besides, you receive
                        numerous plugins out of the box and ready to use.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="card bg-white shadow-soft text-primary rounded mb-4">
                        <div class="px-3 py-5 text-center">
                            <span class="icon icon-lg icon-secondary mb-4"><span class="fab fa-bootstrap"></span></span>
                            <h5 class="font-weight-normal text-primary">Bootstrap</h5>
                            <p>Built with the most popular CSS Framework</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="card bg-white shadow-soft text-primary rounded mb-4">
                        <div class="px-3 py-5 text-center">
                            <span class="icon icon-lg icon-secondary mb-4"><span class="fab fa-sass"></span></span>
                            <h5 class="font-weight-normal text-primary">Sass</h5>
                            <p>Variables and mixins to empower development</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="card bg-white shadow-soft text-primary rounded mb-4">
                        <div class="px-3 py-5 text-center">
                            <span class="icon icon-lg icon-secondary mb-4"><span
                                    class="fas fa-mobile-alt"></span></span>
                            <h5 class="font-weight-normal text-primary">Responsive</h5>
                            <p>All pages and components are 100% responsive</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="card bg-white shadow-soft text-primary rounded mb-4">
                        <div class="px-3 py-5 text-center">
                            <span class="icon icon-lg icon-secondary mb-4"><span class="fab fa-gulp"></span></span>
                            <h5 class="font-weight-normal text-primary">Gulp</h5>
                            <p>Gulp & BrowserSync for a flawless workflow</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="card bg-white shadow-soft text-primary rounded mb-4">
                        <div class="px-3 py-5 text-center">
                            <span class="icon icon-lg icon-secondary mb-4"><span class="far fa-images"></span></span>
                            <h5 class="font-weight-normal text-primary">Creative rights</h5>
                            <p>All images, icons and fonts are licensed & free to use</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="card bg-white shadow-soft text-primary rounded mb-4">
                        <div class="px-3 py-5 text-center">
                            <span class="icon icon-lg icon-secondary mb-4"><span class="far fa-file-alt"></span></span>
                            <h5 class="font-weight-normal text-primary">Documentation</h5>
                            <p>Everything that comes with Spaces is well documented</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="card bg-white shadow-soft text-primary rounded mb-4">
                        <div class="px-3 py-5 text-center">
                            <span class="icon icon-lg icon-secondary mb-4"><span class="fab fa-accessible-icon"></span></span>
                            <h5 class="font-weight-normal text-primary">WCAG Accessibility</h5>
                            <p>Accessibility oriented design and functionality</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="card bg-white shadow-soft text-primary rounded mb-4">
                        <div class="px-3 py-5 text-center">
                            <span class="icon icon-lg icon-secondary mb-4"><span class="fab fa-html5"></span></span>
                            <h5 class="font-weight-normal text-primary">W3C Validated</h5>
                            <p>HTML pages are all valid by W3C Standards</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section section-lg line-bottom-soft">
        <div class="container">
            <div class="row justify-content-center mb-5 mb-lg-6">
                <div class="col-12 text-center">
                    <h2 class="h1 px-lg-5">What's inside?</h2>
                    <p class="lead px-lg-8">We have carefully crafted the perfect folder structure to ensure that
                        finding the files you're looking for are easily reachable and well organized.</p>
                </div>
            </div>
            <div class="row d-flex align-items-center">
                <div class="col-12 col-lg-6 mb-4">
                    <div class="d-none d-lg-block mt-5">
                        <h4>You need only HTML, CSS and Javascript?</h4>
                        <p class="lead mb-4">Don't worry, we got you covered. We have a folder called <code
                                class="text-danger">html&css</code> which includes only the basic HTML5, CSS3 and
                            Javascript technologies.</p>
                        <a href="https://themesberg.com/docs/spaces/getting-started/file-structure/" target="_blank"
                           class="btn btn-md btn-secondary animate-up-2"><i class="fas fa-book mr-2"></i> File structure</a>
                    </div>
                </div>
                <div class="col-12 col-lg-6 order-lg-first d-flex justify-content-center">
                    <ul class="d-block fmw-100 list-style-none folder-structure">
                        <li data-toggle="tooltip" data-placement="left"
                            title="Main folder that you will be working with"><i class="fas fa-folder mr-2"></i>src
                        </li>
                        <li>
                            <ul class="list-style-none pl-4">
                                <li data-toggle="tooltip" data-placement="left"
                                    title="CSS, Images, Fonts and Javascript"><i class="fas fa-folder mr-2"></i> assets
                                </li>
                                <li data-toggle="tooltip" data-placement="left" title="HTML templates"><i
                                        class="fas fa-folder mr-2"></i> html
                                </li>
                                <li data-toggle="tooltip" data-placement="left"
                                    title="Partials are HTML snippets that are included in multiple pages, such as the menu or footer">
                                    <i class="fas fa-folder mr-2"></i> partials
                                </li>
                                <li data-toggle="tooltip" data-placement="left" title="Sass source files"><i
                                        class="fas fa-folder mr-2"></i> scss
                                </li>
                                <li data-toggle="tooltip" data-placement="left"
                                    title="The page you're looking at right now. Call it inception."><i
                                        class="fab fa-html5 mr-2 text-secondary"></i> index.html
                                </li>
                            </ul>
                        </li>
                        <li data-toggle="tooltip" data-placement="left"
                            title="Spaces with only HTML, CSS and Javascript"><i
                                class="fas fa-folder mr-2 text-muted"></i> html&css
                        </li>
                        <li data-toggle="tooltip" data-placement="left"
                            title="Temporary folder that is created when serving files with BrowserSync"><i
                                class="fas fa-folder text-muted mr-2"></i>.temp
                        </li>
                        <li data-toggle="tooltip" data-placement="left" title="Minified version of the project"><i
                                class="fas fa-folder mr-2 text-muted"></i> dist
                        </li>
                        <li data-toggle="tooltip" data-placement="left" title="Project dependencies from package.json">
                            <i class="fas fa-folder text-muted mr-2"></i> node_modules
                        </li>
                        <li data-toggle="tooltip" data-placement="left"
                            title="Development workflow commands. We have them well documented."><i
                                class="fab fa-js-square mr-2 text-warning"></i> gulpfile.js
                        </li>
                        <li data-toggle="tooltip" data-placement="left" title="Project details and dependencies."><i
                                class="fas fa-file-code mr-2 text-tertiary"></i> package.json
                        </li>
                        <li data-toggle="tooltip" data-placement="left" title="No project can miss a README :)"><i
                                class="fas fa-file-code mr-2 text-tertiary"></i> README.md
                        </li>
                        <li data-toggle="tooltip" data-placement="left"
                            title="This file ensures that generated files and folder are ignored by Git. (eg. node_modules)">
                            <i class="fas fa-file-code mr-2 text-tertiary"></i> .gitignore
                        </li>
                    </ul>
                </div>
                <div class="col-12 mt-5 d-lg-none">
                    <h5>You need only HTML, CSS and Javascript?</h5>
                    <p>Don't worry, we got you covered. We have a folder called <code
                            class="text-danger">html&css</code> which includes only the basic HTML5, CSS3 and Javascript
                        technologies.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="section section-lg bg-primary">
        <div class="container">
            <div class="row justify-content-center text-center text-white mb-5">
                <div class="col-12">
                    <h2 class="h1 font-weight-light mb-3">Less <span class="font-weight-bold">work</span>, more <span
                            class="font-weight-bold">flow</span>.</h2>
                    <p class="lead px-lg-8">
                        Boost productivity with BrowserSync. Sass changes are reflected instantly and pages scroll and
                        refresh on devices as you work.
                    </p>
                </div>
            </div>
            <div class="row justify-content-center mb-6">
                <div class="col-md-10 col-xl-9">
                    <div class="position-relative">
                        <div class="rounded bg-white p-4 text-dark mb-2">
                            <div class="mb-3">
                                <div class="font-weight-normal">&gt; $ npm install</div>
                                <div class="text-secondary">Everything’s installed!</div>
                            </div>
                            <div class="mb-3">
                                <div class="font-weight-normal">&gt; $ gulp</div>
                                <div class="text-secondary">SCSS watching</div>
                                <div class="text-secondary">LiveReload started</div>
                                <div class="text-secondary">Opening localhost:3000</div>
                            </div>
                            <div>
                                <div class="font-weight-normal">&gt; $ that's it?</div>
                                <div class="text-secondary">It's that simple!</div>
                            </div>
                        </div>
                    </div>
                    <p class="mt-4 text-white text-center">Looks unfamiliar? Don’t worry! Our <a
                            class="text-white text-underline font-weight-bold"
                            href="https://themesberg.com/docs/spaces/getting-started/quick-start/" target="_blank">documentation</a>
                        has got you covered.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="section section-lg">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-10 text-center">
                    <h2 class="h1">{{ 'got questions?'|trans|capitalize }}</h2>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-12 col-lg-8">
                    <!--Accordion-->
                    <div class="accordion mt-5">
                        <div class="card card-sm card-body border-light mb-0">
                            <a href="#panel-what-is-spaces" data-target="#panel-what-is-spaces"
                               class="accordion-panel-header" data-toggle="collapse" aria-expanded="false"
                               aria-controls="panel-what-is-spaces">
                                <span
                                    class="icon-title h6 mb-0 font-weight-bold">{{ 'why should i check in?'|trans|capitalize }}</span>
                                <span class="icon"><span class="fas fa-plus"></span></span>
                            </a>
                            <div class="collapse" id="panel-what-is-spaces">
                                <div class="pt-3">
                                    <p>{{ 'in connection with corona guidelines from the national government, the hospitality industry is obliged to store contact details of guests for 14 days.'|trans|capitalize }}</p>
                                    <p> <a href="/about" style="text-decoration: underline;">{{'read more'|trans|capitalize}}</a> {{'about how we keep your data save.'|trans}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--End of Accordion-->
                </div>
            </div>
            <div class="row mt-lg-5 mt-5">
                <div class="col text-center">
                    <p class="text-italic text-white">Didn't find what you were looking for? No biggie!</p>
                    <a href="https://themesberg.com/contact" class="btn btn-sm btn-primary" target="_blank">Contact
                        us</a>
                </div>
            </div>
        </div>

        <!-- seperator-->
        <figure class="position-absolute bottom-0 left-0 w-100 d-none d-md-block mb-n2">
            <svg class="fill-primary" version="1.1" xmlns="http://www.w3.org/2000/svg"
                 xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1920 43.4"
                 style="enable-background:new 0 0 1920 43.4;" xml:space="preserve">
                   <path
                       d="M0,23.3c0,0,405.1-43.5,697.6,0c316.5,1.5,108.9-2.6,480.4-14.1c0,0,139-12.2,458.7,14.3 c0,0,67.8,19.2,283.3-22.7v35.1H0V23.3z"></path>
                </svg>
        </figure>
        <!-- /seperator-->
    </section>


    <!--
    <section class="section section-lg bg-soft" id="pricing">
        <div class="container">
            <div class="row justify-content-center mb-6">
                <div class="col-12 col-lg-9 text-center">
                    <h2 class="h1 mb-4">Choose the right plan for your business</h2>
                    <p class="lead">You have <span class="font-weight-bold text-primary">Free 6 Months of Updates</span> and <span class="font-weight-bold text-primary">Premium Support</span> on each package. You also have 30 days to request a refund if you're not happy with your purchase.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-lg-4">
                    <div class="card border-light rounded-md mb-3 px-2">
                        <div class="card-header bg-white border-lighten p-4">
                            <div class="d-flex mb-3"> <span class="h5 mb-0">$</span> <span class="price display-2 mb-0 text-primary">79</span> </div>
                            <h3 class="h4 mb-3 text-black">Freelancer</h3>
                            <p class="font-weight-normal font-small mb-0">Great for personal use and for your side projects.</p>
                        </div>
                        <div class="card-body py-5">
                            <ul class="list-group simple-list">
                                <li class="list-group-item font-weight-normal p-0 pb-3 border-0"><span class="icon-success mr-2"><span class="fas fa-check"></span></span>Full documentation</li>
                                <li class="list-group-item font-weight-normal p-0 pb-3 border-0"><span class="icon-success mr-2"><span class="fas fa-check"></span></span>Domains: <strong>1</strong></li>
                                <li class="list-group-item font-weight-normal p-0 pb-3 border-0"><span class="icon-success mr-2"><span class="fas fa-check"></span></span>Team size: <strong>1 developer</strong></li>
                                <li class="list-group-item font-weight-normal p-0 pb-3 border-0"><span class="icon-success mr-2"><span class="fas fa-check"></span></span>Premium support: <strong>6 months</strong></li>
                                <li class="list-group-item font-weight-normal p-0 pb-3 border-0"><span class="icon-success mr-2"><span class="fas fa-check"></span></span>Free updates: <strong>6 months</strong></li>
                            </ul>
                        </div>
                        <div class="card-footer bg-white pt-0 px-4 pb-4"><a href="https://themesberg.com/product/bootstrap-themes/spaces-bootstrap-directory-listing-template#pricing" target="_blank" class="btn btn-block btn-primary rounded animate-up-2"> Buy now <span class="icon icon-xs ml-3"></span> </a> </div>
                    </div>
                    <a href="https://themesberg.com/licensing#freelancer" target="_blank" data-toggle="tooltip" data-placement="bottom" title="" class="font-small text-gray text-center d-block my-4" data-original-title="Something unclear? Click to read the full Freelancer license."><span class="fas fa-balance-scale mr-2"></span>Freelancer License</a>
                </div>
                <div class="col-12 col-lg-4">
                    <div class="card border-light rounded-md mb-3 px-2">
                        <div class="card-header bg-white border-lighten p-4">
                            <div class="d-flex mb-3"> <span class="h5 mb-0">$</span> <span class="price display-2 mb-0 text-primary">239</span> </div>
                            <h3 class="h4 mb-3 text-black">Company</h3>
                            <p class="font-weight-normal font-small mb-0">Relevant for multiple users and extended support.</p>
                        </div>
                        <div class="card-body py-5">
                            <ul class="list-group simple-list">
                                <li class="list-group-item font-weight-normal p-0 pb-3 border-0"><span class="icon-success mr-2"><span class="fas fa-check"></span></span>Full documentation</li>
                                <li class="list-group-item font-weight-normal p-0 pb-3 border-0"><span class="icon-success mr-2"><span class="fas fa-check"></span></span>Domains: <strong>Unlimited</strong></li>
                                <li class="list-group-item font-weight-normal p-0 pb-3 border-0"><span class="icon-success mr-2"><span class="fas fa-check"></span></span>Team size: <strong>1-5 developers</strong></li>
                                <li class="list-group-item font-weight-normal p-0 pb-3 border-0"><span class="icon-success mr-2"><span class="fas fa-check"></span></span>Premium support: <strong>12 months</strong></li>
                                <li class="list-group-item font-weight-normal p-0 pb-3 border-0"><span class="icon-success mr-2"><span class="fas fa-check"></span></span>Free updates: <strong>12 months</strong></li>
                            </ul>
                        </div>
                        <div class="card-footer bg-white pt-0 px-4 pb-4"><a href="https://themesberg.com/product/bootstrap-themes/spaces-bootstrap-directory-listing-template#pricing" target="_blank" class="btn btn-block btn-primary rounded animate-up-2"> Buy now <span class="icon icon-xs ml-3"></span> </a> </div>
                    </div>
                    <a href="https://themesberg.com/licensing#company" target="_blank" data-toggle="tooltip" data-placement="bottom" title="" class="font-small text-gray text-center d-block my-4" data-original-title="Something unclear? Click to read the full Freelancer license."><span class="fas fa-balance-scale mr-2"></span>Company License</a>
                </div>
                <div class="col-12 col-lg-4">
                    <div class="card border-light rounded-md mb-3 px-2">
                        <div class="card-header bg-white border-lighten p-4">
                            <div class="d-flex mb-3"> <span class="h5 mb-0">$</span> <span class="price display-2 mb-0 text-primary">599</span> </div>
                            <h3 class="h4 mb-3 text-black">Enterprise</h3>
                            <p class="font-weight-normal font-small mb-0">Best for large scale uses and extended redistribution rights.</p>
                        </div>
                        <div class="card-body py-5">
                            <ul class="list-group simple-list">
                                <li class="list-group-item font-weight-normal p-0 pb-3 border-0"><span class="icon-success mr-2"><span class="fas fa-check"></span></span>Full documentation</li>
                                <li class="list-group-item font-weight-normal p-0 pb-3 border-0"><span class="icon-success mr-2"><span class="fas fa-check"></span></span>Domains: <strong>Unlimited</strong></li>
                                <li class="list-group-item font-weight-normal p-0 pb-3 border-0"><span class="icon-success mr-2"><span class="fas fa-check"></span></span>Team size: <strong>Unlimited</strong></li>
                                <li class="list-group-item font-weight-normal p-0 pb-3 border-0"><span class="icon-success mr-2"><span class="fas fa-check"></span></span>Premium support: <strong>24 months</strong></li>
                                <li class="list-group-item font-weight-normal p-0 pb-3 border-0"><span class="icon-success mr-2"><span class="fas fa-check"></span></span>Free updates: <strong>12 months</strong></li>
                            </ul>
                        </div>
                        <div class="card-footer bg-white pt-0 px-4 pb-4"><a href="https://themesberg.com/product/bootstrap-themes/spaces-bootstrap-directory-listing-template#pricing" target="_blank" class="btn btn-block btn-primary rounded animate-up-2"> Buy now <span class="icon icon-xs ml-3"></span> </a> </div>
                    </div>
                    <a href="https://themesberg.com/licensing#enterprise" target="_blank" data-toggle="tooltip" data-placement="bottom" title="" class="font-small text-gray text-center d-block my-4" data-original-title="Something unclear? Click to read the full Freelancer license."><span class="fas fa-balance-scale mr-2"></span>Enterprise License</a>
                </div>
            </div>
        </div>
    </section>
    -->
    <script>

        function onScanError(errorMessage) {
            // handle on error condition, with error message
            //console.log(errorMessage);
        }

        function startQrScan() {
            document.getElementById('readerView').style.display = 'block';
            document.getElementById('readerAlt').style.display = 'none';
            document.getElementById('startScan').style.display = 'none';

            // This method will trigger user permissions
            Html5Qrcode.getCameras().then(devices => {
                /**
                 * devices would be an array of objects of type:
                 * { id: "id", label: "label" }
                 */
                if (devices && devices.length) {
                    var cameraId = devices[0].id;

                    const html5QrCode = new Html5Qrcode("readerView");
                    const config = {fps: 10, qrbox: 250};

                    //html5QrCode.start({ facingMode: "environment" }, config, onScanSuccess , onScanError);

                    html5QrCode.start(
                        {facingMode: "environment"},
                        {
                            fps: 1,    // Optional frame per seconds for qr code scanning
                            qrbox: 250  // Optional if you want bounded box UI
                        },
                        qrCodeMessage => {
                            document.getElementById('readerSucces').style.display = 'block';
                            document.getElementById('readerView').style.display = 'none';
                            document.getElementById('readerAlt').style.display = 'block';
                            window.location.href = qrCodeMessage;
                            html5QrCode.stop();
                            window.alert('QR Code Succesvol Verwerk');
                        },
                        errorMessage => {
                            // parse error, ignore it.
                        })
                        .catch(err => {
                            // Start failed, handle it.
                            console.log(errorMessage);
                        });

                }
            }).catch(err => {
                console.log("Er is iets mis gegaan bij het verkrijgen van toegang tot de camera");
            });
        }

    </script>

{% endblock %}
