<div class="modal fade" id="requestMyDataModal" tabindex="-1" role="dialog" aria-labelledby="requestMyDataModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{ 'Request My Data'|trans }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                    <form action="{{ path('app_dashboard_index') }}" method="post" enctype="multipart/form-data">
                        <div class="row mb-3">
                            <div class="col-6">

                                <!-- Start period -->
                                <div class="form-group">
                                    <label for="startPeriod2">{{ 'start period'|trans|capitalize }} <span class="text-danger">*</span></label>
                                    <input
                                        class="form-control"
                                        id="startPeriod2"
                                        type="datetime-local"
                                        max="{{ "now"|date("Y-m-d\\TH:i", "Europe/Paris") }}"
                                        placeholder="format jaar-maand-dag"
                                        name="startPeriod"
                                        required
                                    >
                                </div>

                            </div>
                            <div class="col-6">

                                <!-- End period -->
                                <div class="form-group">
                                    <label for="endPeriod2">{{ 'end period'|trans|capitalize }} <span class="text-danger">*</span></label>
                                    <a onclick="setMinEndPeriod2()">
                                        <input
                                            class="form-control"
                                            id="endPeriod2"
                                            type="datetime-local"
                                            max="{{ "now"|date("Y-m-d\\TH:i", "Europe/Paris") }}"
                                            placeholder="format jaar-maand-dag"
                                            name="endPeriod"
                                            required
                                        >
                                    </a>
                                </div>

                            </div>
                        </div>

                        <!-- Submit -->
                        <button class="btn btn-block btn-primary mt-3 lift" name="requestMyData" value="true" type="submit">
                            {{ 'send request'|trans|capitalize }}
                        </button>
                    </form>
            </div>
        </div>
    </div>
</div>

<script>
    function setMinEndPeriod2() {
        var startPeriod = document.getElementById('startPeriod2');
        var endPeriod = document.getElementById('endPeriod2');
        endPeriod.setAttribute("min", startPeriod.value);
        //startPeriod.setAttribute("max", 'now');
        //endPeriod.setAttribute("max", 'now');
    }
</script>
