{% if organization.contact is defined and organization.contact is not empty %}
    {% set orgCc = commonground_resource(organization.contact) %}
        {% if orgCc.socials[0] is defined %}
            {% set social = orgCc.socials[0] %}
        {% endif %}
{% endif %}

    {% if social is defined and social is not empty %}
        {% if social.website is defined and social.website is not empty %}
            <a target="_blank" href="{{ social.website }}">
                <button class="btn mb-2 mr-2 btn-icon-only rounded-circle btn-primary" type="button">
                    <span class="btn-inner-icon"><i class="fas fa-globe"></i></span>
                </button>
            </a>
        {% endif %}
        {% if social.facebook is defined and social.facebook is not empty %}
            <a target="_blank" href="{{ social.facebook }}">
                <button class="btn mb-2 mr-2 btn-icon-only rounded-circle btn-primary" type="button">
                    <span class="btn-inner-icon"><i class="fab fa-facebook-f"></i></span>
                </button>
            </a>
        {% endif %}
        {% if social.instagram is defined and social.instagram is not empty %}
            <a target="_blank" href="{{ social.instagram }}">
                <button class="btn mb-2 mr-2 btn-icon-only rounded-circle btn-primary" type="button">
                    <span class="btn-inner-icon"><i class="fab fa-instagram"></i></span>
                </button>
            </a>
        {% endif %}
        {% if social.twitter is defined and social.twitter is not empty %}
            <a target="_blank" href="{{ social.twitter }}">
                <button class="btn mb-2 mr-2 btn-icon-only rounded-circle btn-primary" type="button">
                    <span class="btn-inner-icon"><i class="fab fa-twitter"></i></span>
                </button>
            </a>
        {% endif %}
        {% if social.linkedin is defined and social.linkedin is not empty %}
            <a target="_blank" href="{{ social.linkedin }}">
                <button class="btn mb-2 mr-2 btn-icon-only rounded-circle btn-primary" type="button">
                    <span class="btn-inner-icon"><i class="fab fa-linkedin-in"></i></span>
                </button>
            </a>
        {% endif %}
    </div>
    {% endif %}
</div>
