{% extends '/dashboard/dashboard.html.twig' %}

{% set activeItem = 'checkins' %}

{% block dashboard %}
    <div class="row">
        {% if checkins is defined and checkins is not empty %}
            <div class="col-12 col-md-6 mb-4">
                <div class="card border-light">
                    <div class="card-body d-block d-md-flex align-items-center">
                        <div class="icon icon-shape icon-md icon-shape-primary rounded-circle mr-3 mb-4 mb-md-0">
                            <span class="fas fa-check"></span>
                        </div>
                        <div>
                            <span class="d-block h6 font-weight-normal">
                                {{ 'Checkins'|trans|capitalize }}
                            </span>
                            <h5 class="h3 font-weight-bold mb-1">{{ 'total'|trans|capitalize }}: {{ checkins|length }}</h5>
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="col-12 col-md-6 mb-4">
                <div class="card border-light">
                    <div class="card-body d-block d-md-flex align-items-center">
                        <div class="icon icon-shape icon-md icon-shape-primary rounded-circle mr-3 mb-4 mb-md-0">
                            <span class="fas fa-check"></span>
                        </div>
                        <div>
                            <span class="d-block h6 font-weight-normal">
                                {{ 'Checkins'|trans|capitalize }}
                            </span>
                            <h5 class="h3 font-weight-bold mb-1">{{ 'total'|trans|capitalize }}: 0</h5>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}

        {% if app.user.organization is defined and app.user.organization is not empty %}
            <div class="col-12 col-md-6 mb-4">
                <div class="card border-light">
                    <div class="card-body d-block d-md-flex align-items-center">
                        <div class="icon icon-shape icon-md icon-shape-primary rounded-circle mr-3 mb-4 mb-md-0">
                            <span class="fas fa-file-medical"></span>
                        </div>
                        <div>
                            <span class="d-block h6 font-weight-normal">
                                {{ 'GGD Application'|trans }}
                            </span>
                            <a href="{{ path('app_ptc_process', { id:'7ea9a041-d96f-4f4b-adc1-e1a46ea8463d' }) }}" class="btn btn-block btn-success mt-2">
                                <h6 class="font-weight-bold mb-1">
                                    {{ 'start request'|trans|capitalize }}
                                </h6>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
