{% extends '/dashboard/dashboard.html.twig' %}

{% set activeItem = 'organizations' %}

{% block dashboard %}
    <div class="row justify-content-center">
        <div class="col-12 col-sm-10 col-md-6 col-lg-12">
            <a data-toggle="modal" data-target="#organizationModal" class="btn btn-outline-secondary btn-block mb-4 py-4"><span class="mr-2"><span class="fas fa-plus"></span></span>{{ 'new'|trans|capitalize }}</a>
            {% if organizations is defined and organizations is not empty %}
                {% for organization in organizations %}
                    {% set organizationUrl = commonground_cleanurl({'component': 'wrc', 'type':'organizations', 'id': organization.id}) %}
                    <div class="card border-light mb-4">
                        <div class="row no-gutters align-items-center">
                            {% if organization.style.favicon.base64 is defined %}
                                <div class="col-12 col-lg-6 col-xl-4">
                                    <a href="{{ path('app_dashboard_organization', {'id': organization.id}) }}">
                                        <img style="width: 100px; height: 100px" src="{{ organization.style.favicon.base64 }}" alt="private office" class="card-img p-2 rounded-xl">
                                    </a>
                                </div>
                            {% endif %}
                            <div class="col-12 col-lg-6 col-xl-8">
                                <div class="card-body py-lg-0 mt-2 mb-2">
                                    <a href="{{ path('app_dashboard_organization', {'id': organization.id}) }}">
                                        <h2 class="h5">{{ organization.name }}</h2>
                                    </a>
                                    <div class="col d-flex pl-0">
                                        {% if organizationUrl == app.user.organization %}
                                            <span class="text-success font-small mr-3"><span class="fas fa-check-circle mr-2"></span>{{ 'active' }}</span>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>

    {% include '/dashboard/modals/add_organization_modal.html.twig' %}
{% endblock %}
