<nav class="navbar navbar-expand-lg navbar-dark navbar-theme-primary">
    <div class="container position-relative">
        <div class="navbar-collapse collapse" id="navbar-default-primary">
            <div class="navbar-collapse-header">
                <div class="row">
                    <div class="col-6 collapse-close">
                        <i class="fas fa-times" data-toggle="collapse" role="button"
                           data-target="#navbar-default-primary" aria-controls="navbar-default-primary"
                           aria-expanded="false" aria-label="Toggle navigation"></i>
                    </div>
                </div>
            </div>
            <ul class="navbar-nav navbar-nav-hover align-items-lg-center">
                <li class="nav-item">
                    <a href="{{ path('app_default_index') }}" class="nav-link"><i style="font-size: 1.2rem" class="fas fa-home mr-1 d-none d-lg-inline"></i>Home</a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('app_default_index') }}" class="nav-link">{{ 'for organizations'|trans|capitalize }}</a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('app_default_index') }}" class="nav-link">{{ 'how does it work'|trans|capitalize }}?</a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('app_default_index') }}" class="nav-link">{{ 'privacy'|trans|capitalize }}</a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('app_default_index') }}" class="nav-link">{{ 'terms and conditions'|trans|capitalize }}</a>
                </li>
            </ul>
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <a class="navbar-btn btn btn-sm btn-success lift ml-auto" href="{{ path('app_dashboard_index') }}">
                    {{ 'dashboard'|trans|capitalize }}
                </a>
            {% else %}
                <a style="" class="navbar-btn btn btn-sm btn-success lift ml-auto" href="{{ path('app_user_idvault') }}?backUrl={{ path('app_dashboard_checkins') }}">
                    {{ 'login'|trans|capitalize }}
                </a>
            {% endif %}
        </div>
        <div class="d-flex align-items-center">
            <button class="navbar-toggler ml-2" type="button" data-toggle="collapse"
                    data-target="#navbar-default-primary" aria-controls="navbar-default-primary"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>
</nav>
</header>
